extends layout

block content

  div(id = "carousel-example-generic" class = "carousel slide carousel-fade")
    div.carousel-inner
      div(class = "item active")
        img(src="/stylesheets/img/3.jpg" class="img-responsive" alt="")
        div.carousel-caption
          div.row
            div.col-md-6
              img(src="/stylesheets/img/s2.png" class="img-responsive" alt="")
            div.col-md-6
              div.caption-content
                h3 Bonorum et Malorum
                p It is a long established fact that a reader will be distracted by Lorem Ipsum passage, and going the readable content oits layout.
      div.item
        img(src="/stylesheets/img/3.jpg"  class="img-responsive" alt="")
        div.carousel-caption
          div.row
            div.col-md-6
              img(src="/stylesheets/img/s3.png" alt="" class="img-responsive")
            div.col-md-6
              div.caption-content
                h3 Extremes of Good
                p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using making it look like readable English.
      div.item
        img(src="/stylesheets/img/3.jpg"  class="img-responsive" alt="")
        div.carousel-caption
          div.row
            div.col-md-6
              img(src="/stylesheets/img/s1.png" alt="" class="img-responsive")
            div.col-md-6
              div.caption-content
                h3 Contrary to popular
                p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form even slightly believable.
      
    a(class="left carousel-control" href="#carousel-example-generic" data-slide="prev") <span class = "icon-prev"></span>
    a(class="right carousel-control" href="#carousel-example-generic" data-slide="next") <span class = "icon-next"></span>
  
  div.container
    div.hero
      div.row
        div.col-md-12
          h2 It's Lorem ipsum dolor sit amet consectetur
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur adipiscing elit tristique est consectetur adipiscing elit tristique sit amet diam interdum semper. Accumsan id.
    hr
    div.team
      h3 About Us
      div(class = "bor hidden-xs")
      div.row
        div(class = "col-md-3 col-sm-6")
          div(class = "thumbnail team-profile")
            img(src="/stylesheets/img/user.jpg" alt="" class="img-responsive img-circle")
            h5 NURJALIH
            span CEO Founder
            div.social-link
              a(href="#" class="facebook")<i class="icon-facebook"></i>
              a(href="#" class="google") <i class="icon-google-plus"></i>
              a(href="#" class="twitter") <i class="icon-twitter"></i>
              a(href="#" class="linkedin") <i class="icon-linkedin"></i>
              a(href="#" class="skype") <i class="icon-skype"></i>
    hr
    div.service
      h3 Service
      div(class = "bor hidden-xs")
      div.row
        div(class="col-md-3 col-sm-6 col-xs-6")
          div(class="service-item animated")
            i(class="icon-camera skyblue")
            h4 <a href="#">Neque perspiciatis</a>
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia mollit anim id ests.
        div(class="col-md-3 col-sm-6 col-xs-6")
          div(class="service-item animated")
            i(class="icon-envelope nblue")
            h4 <a href="#">Finibus perspiciatis</a>
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium totam remo.
        div(class="col-md-3 col-sm-6 col-xs-6")
          div(class="service-item animated")
            i(class="icon-download blue")
            h4 <a href="#">Cicero perspiciatis</a>
            p Nor again is there anyone who loves or pursues or desires to obtain pain of itself pain.</p>
        div(class="col-md-3 col-sm-6 col-xs-6")
          div(class="service-item animated")
            i(class="icon-gamepad green")
            h4 <a href="#">Malorum perspiciatis</a>
            p At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium itate none.
    hr
    div.feature
      h3 Feature
      div(class="bor hidden-xs")
      div.row
        div(class="col-md-3 col-xs-6")
          div(class="feature-item animated")
            i(class="icon-gears")
            h4 Similique Sunt Sin
            p Circumstances occur in which toil him some great pleasure.
        div(class="col-md-3 col-xs-6")
          div(class="feature-item animated")
            i(class="icon-refresh")
            h4 Harum Et Quidem
            p Et harum quidem rerum facilis est et expedita distinctio.
        div(class="col-md-3 col-xs-6")
          div(class="feature-item animated")
            i(class="icon-unlink")
            h4 Voluptatum Deleniti Atque 
            p Voluptates repudiandae sint et iae non recusandae.
        div(class="col-md-3 col-xs-6")
          div(class="feature-item animated")
            i(class="icon-puzzle-piece")
            h4 Blinded By Desire
            p Cases are perfectly simple and easy to distinguish.
    hr
    div.testimonial
      h3 Testimonial
      div(class="bor hidden-xs")
      div.row
        div(class="col-md-4")
          div(class="testimonial-content animated")
            h4
              img(src="/stylesheets/img/user-xs.jpg" alt="" class="img-responsive img-circle")
            blockquote
              p Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.
        div(class="col-md-4")
          div(class="testimonial-content animated")
            h4
              img(img src="/stylesheets/img/user-xs.jpg" alt="" class="img-responsive img-circle")
            blockquote
              p On the other hand, we denounce with righteous indignation dislike men who are so beguiled and demoralized by the charms of pleasu of the moment, that are bound to ensue.
        div.col-md-4
          div(class="testimonial-content animated")
            h4
              img(src="/stylesheets/img/user-xs.jpg" alt="" class="img-responsive img-circle")
            blockquote
              p Welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of  that have to be the moment and annoyances accepted.
    hr
    div.ptable
      h3 Pricing Table
      div(class="bor hidden-xs")
      div.row
        div(class="col-md-3")
          div(class="ptable-content")
            h4 STARTER
            p Some thighs goes here
            span.pcost $10.50/m
            ul.list
              li 1GB Storage
              li 100GB Bandwidth
              li 24/7 Support
            a(href="#" class="btn btn-info") Buy It Now
        div(class="col-md-3")
          div(class="phighlight ptable-content")
            h4 BUSINESS
            p Some thighs goes here
            span.pcost $30.50/m
            ul.list
              li 1GB Storage
              li 100GB Bandwidth
              li 24/7 Support
            a(href="#" class="btn btn-info") Buy It Now
        div(class="col-md-3")
          div(class="phighlight ptable-content")
            h4 ENTERPRISE
            p Some thighs goes here
            span.pcost $30.50/m
            ul.list
              li 1GB Storage
              li 100GB Bandwidth
              li 24/7 Support
            a(href="#" class="btn btn-info") Buy It Now
        div(class="col-md-3")
          div(class="phighlight ptable-content")
            h4 MNC
            p Some thighs goes here
            span.pcost $30.50/m
            ul.list
              li 1GB Storage
              li 100GB Bandwidth
              li 24/7 Support
            a(href="#" class="btn btn-info") Buy It Now
    hr
    div.contact
      h3 CONTACT
      div(class="bor hidden-xs")
      div(class="contact-details")
        h4 Contact Us
        form(role="form" class="form")
          div(class="form-group")
            label(for="exampleInputEmail1") NAME
            input(type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name")
          div(class="form-group")
            label(for="exampleInputPassword1") EMAIL
            input(type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email")
          div(class="form-group")
            label TEXT
            textarea(class="form-control" rows="3")
          button(type="submit" class="btn btn-default") Send
          button(type="reset" class="btn btn-default") Reset
        h5 Address
        p
          span Responsive Web, Inc.
          br
          795 Folsom Ave, Suite 600
          br
          San Francisco, CA 94107
          br
          Phone (123) 456-7890.
        div(class="c-social")
          a(href = '#') <i class="icon-facebook"></i>
          a(href = '#') <i class="icon-google-plus"></i>
          a(href = '#') <i class="icon-twitter"></i>
          a(href = '#') <i class="icon-linkedin"></i>
      div(class="google-map")
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/?ie=UTF8&amp;ll=-6.184075,106.682468&amp;spn=-6.184075,106.682468&amp;t=m&amp;z=10&amp;output=embed"></iframe>
      div(class="clearfix")
    footer
      div.row
        div(class="col-md-12")
          hr
          br
          p(class="text-center") Copyright 2013 - <a href="#">Testing ExpressJS</a> - Designed by <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a> - Code by <a href="http://nurjalih.16mb.com">Nurjalih</a>
          br
